In [1]:
import os
import pandas as pd

#import arcgis libraries
from arcgis.gis import *
gis = GIS()

In [2]:
#google cloud big query libaries
from google.cloud import bigquery
from google.oauth2 import service_account

key_path = r"C:\Users\bhereth\streetlight-temp-analysis-e2b201d26862.json"

credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

client = bigquery.Client(credentials=credentials, project=credentials.project_id,)

In [3]:
#directories
working_directory = os.getcwd()
data_folder         = os.path.join(working_directory, "data"        )
intermediate_folder = os.path.join(working_directory, "intermediate")
results_folder      = os.path.join(working_directory, "results"     )

subareas_filename = os.path.join(data_folder, r"Subarea_2021_09_22.shp")
print(subareas_filename)

E:\GitHub\TDM-Trucks-Streetlight\data\Subarea_2021_09_22.shp

# Import Big Query Data

In [4]:
#ease of use
daytype0 = '0: All Days (Mo-Su)'
daytype1 = '1: Weekday (Tu-Th)'
daytype2 = '2: Weekend Day (Sa-Su)'
dataper1 = '1. All year'
dataper2 = '2. Sep-Nov'
dataper3 = '3. Dec-Feb'
dataper4 = '4. Mar-May'
dataper5 = '5. Jun-Aug'
daypart0 = '0: All Day (12am-12am)'
daypart1 = '1: Early AM (12am-6am)'
daypart2 = '2: Peak AM (6am-9am)'
daypart3 = '3: Mid-Day (9am-3pm)'
daypart4 = '4: Peak PM (3pm-6pm)'
daypart5 = '5: Late PM (6pm-12am)'

#zones for interzonal definition
dImportTables = [
                    ['ut-udot-adap-dev.streetlight_data.udot_commercial_all_year_2019'],
                    ['ut-udot-adap-dev.streetlight_data.udot_commercial_fall_2019'    ],
                    ['ut-udot-adap-dev.streetlight_data.udot_commercial_spring_2019'  ],
                    ['ut-udot-adap-dev.streetlight_data.udot_commercial_summer_2019'  ],
                    ['ut-udot-adap-dev.streetlight_data.udot_commercial_winter_2019'  ]
                ]

sJoinTable = "ut-udot-adap-dev.streetlight_data.wfrc_streetlight_taz"

# Create the pandas DataFrame
dfImportTables = pd.DataFrame(dImportTables, columns = ['tableName'])
display(dfImportTables)

                                           tableName
0  ut-udot-adap-dev.streetlight_data.udot_commerc...
1  ut-udot-adap-dev.streetlight_data.udot_commerc...
2  ut-udot-adap-dev.streetlight_data.udot_commerc...
3  ut-udot-adap-dev.streetlight_data.udot_commerc...
4  ut-udot-adap-dev.streetlight_data.udot_commerc...

In [5]:
#create query of all subareaid to subareaid truck flows using join to taz table with subareaid field
dfTruckDataBySubareaID = pd.DataFrame()

for dit in dImportTables:
    sql = """
    SELECT
        orig_table.SUBAREAID AS origin_subareaid,
        dest_table.SUBAREAID AS destination_subareaid,
        od_table.mode_of_travel AS mode_of_travel,
        od_table.vehicle_weight AS vehicle_weight,
        od_table.day_type AS day_type,
        od_table.day_part AS day_part,
        od_table.data_period AS data_period,
        SUM(od_table.o_d_traffic_sample_trip_counts) AS od_trip_counts_sum,
        SUM(od_table.o_d_traffic_calibrated_trip_volume) AS od_trip_volume_sum,
        COUNT(mode_of_travel) AS num_records
    FROM
        (""" + dit[0] + """ as od_table
            LEFT JOIN
                """ + sJoinTable + """ AS orig_table
                ON od_table.origin_zone_name = orig_table.SL_COTAZID)
                    LEFT JOIN """ + sJoinTable + """ AS dest_table
                    ON od_table.destination_zone_name = dest_table.SL_COTAZID
    GROUP BY
        orig_table.SUBAREAID,
        dest_table.SUBAREAID,
        od_table.mode_of_travel,
        od_table.vehicle_weight,
        od_table.day_type,
        od_table.day_part,
        od_table.data_period
    """
    #display(sql)

    dfQuery = client.query(sql).to_dataframe()
    dfTruckDataBySubareaID = dfTruckDataBySubareaID.append(dfQuery)

dfTruckDataBySubareaID

,origin_subareaid,destination_subareaid,mode_of_travel,vehicle_weight,day_type,day_part,data_period,od_trip_counts_sum,od_trip_volume_sum,num_records
0,1.0,NaN,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,27419,2289.573822,2491
1,NaN,0.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,20364,1700.458854,2041
2,1.0,1.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,100925,8427.558917,36365
3,NaN,1.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,20923,1747.137134,2910
4,NaN,5.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,4532,378.436433,293
...,...,...,...,...,...,...,...,...,...,...
1653,3.0,2.0,Trucks,Heavy,2: Weekend Day (Sa-Su),3: Mid-Day (9am-3pm),3. Dec-Feb,1,0.524400,1
1654,4.0,5.0,Trucks,Medium,2: Weekend Day (Sa-Su),3: Mid-Day (9am-3pm),3. Dec-Feb,1,0.972000,1
1655,5.0,2.0,Trucks,Medium,2: Weekend Day (Sa-Su),2: Peak AM (6am-9am),3. Dec-Feb,1,0.972000,1
1656,2.0,4.0,Trucks,Medium,2: Weekend Day (Sa-Su),1: Early AM (12am-6am),3. Dec-Feb,1,0.972000,1
1657,5.0,4.0,Trucks,Medium,2: Weekend Day (Sa-Su),1: Early AM (12am-6am),3. Dec-Feb,1,0.972000,1

In [6]:
#read totals without the join to check against
dfTruckDataSumForChecks = pd.DataFrame()

for dit in dImportTables:

    sqlsumforchecks = """ 
    SELECT
        SUM(od_table.o_d_traffic_sample_trip_counts) AS od_trip_counts_sum,
        SUM(od_table.o_d_traffic_calibrated_trip_volume) AS od_trip_volume_sum,
        COUNT(od_table.mode_of_travel) AS num_records
    FROM
        """ + dit[0] + """ AS od_table
    """

    #display(sqlsumforchecks)

    dfQuerySum = client.query(sqlsumforchecks).to_dataframe()
    dfTruckDataSumForChecks = dfTruckDataSumForChecks.append(dfQuerySum)

dfTruckDataSumForChecks

   od_trip_counts_sum  od_trip_volume_sum  num_records
0            19711308        1.769780e+06      5237876
0             4594646        1.749065e+06      1736809
0             5449188        1.906250e+06      1924193
0             5452558        1.933118e+06      1992275
0             4214916        1.489832e+06      1615426

In [7]:
display(dfTruckDataSumForChecks.sum())
display(dfTruckDataBySubareaID.sum())

od_trip_counts_sum    3.942262e+07
od_trip_volume_sum    8.848046e+06
num_records           1.250658e+07
dtype: float64

origin_subareaid                                                   17375.0
destination_subareaid                                              17395.0
mode_of_travel           TrucksTrucksTrucksTrucksTrucksTrucksTrucksTruc...
vehicle_weight           HeavyHeavyHeavyHeavyHeavyHeavyHeavyHeavyHeavyH...
day_type                 1: Weekdays (Tu-Th)1: Weekdays (Tu-Th)1: Weekd...
day_part                 2: Peak AM (6am-9am)2: Peak AM (6am-9am)2: Pea...
data_period              1. All year1. All year1. All year1. All year1....
od_trip_counts_sum                                                39422616
od_trip_volume_sum                                          8848046.049434
num_records                                                       12506579
dtype: object

In [8]:
dfTruckDataBySubareaID = dfTruckDataBySubareaID.fillna(-1)
dfTruckDataBySubareaID

,origin_subareaid,destination_subareaid,mode_of_travel,vehicle_weight,day_type,day_part,data_period,od_trip_counts_sum,od_trip_volume_sum,num_records
0,1.0,-1.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,27419,2289.573822,2491
1,-1.0,0.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,20364,1700.458854,2041
2,1.0,1.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,100925,8427.558917,36365
3,-1.0,1.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,20923,1747.137134,2910
4,-1.0,5.0,Trucks,Heavy,1: Weekdays (Tu-Th),2: Peak AM (6am-9am),1. All year,4532,378.436433,293
...,...,...,...,...,...,...,...,...,...,...
1653,3.0,2.0,Trucks,Heavy,2: Weekend Day (Sa-Su),3: Mid-Day (9am-3pm),3. Dec-Feb,1,0.524400,1
1654,4.0,5.0,Trucks,Medium,2: Weekend Day (Sa-Su),3: Mid-Day (9am-3pm),3. Dec-Feb,1,0.972000,1
1655,5.0,2.0,Trucks,Medium,2: Weekend Day (Sa-Su),2: Peak AM (6am-9am),3. Dec-Feb,1,0.972000,1
1656,2.0,4.0,Trucks,Medium,2: Weekend Day (Sa-Su),1: Early AM (12am-6am),3. Dec-Feb,1,0.972000,1
1657,5.0,4.0,Trucks,Medium,2: Weekend Day (Sa-Su),1: Early AM (12am-6am),3. Dec-Feb,1,0.972000,1

In [9]:
dfTruckDataBySubareaID_Pivot_NumRecords = dfTruckDataBySubareaID.pivot_table(values="num_records",index=['day_type', 'day_part', 'data_period', 'origin_subareaid'], columns="destination_subareaid",)
dfTruckDataBySubareaID_Pivot_NumRecords = dfTruckDataBySubareaID_Pivot_NumRecords.fillna(0)
dfTruckDataBySubareaID_Pivot_NumRecords = dfTruckDataBySubareaID_Pivot_NumRecords.reset_index()
dfTruckDataBySubareaID_Pivot_NumRecords

destination_subareaid,day_type,day_part,data_period,origin_subareaid,-1.0,0.0,1.0,2.0,3.0,4.0,5.0
0,0: All Days (M-Su),0: All Day (12am-12am),1. All year,-1.0,302.0,4209.5,6822.5,926.5,1144.0,494.0,545.0
1,0: All Days (M-Su),0: All Day (12am-12am),1. All year,0.0,3744.0,48132.0,29255.0,1377.5,2108.5,1995.5,2555.0
2,0: All Days (M-Su),0: All Day (12am-12am),1. All year,1.0,6068.5,29820.0,352577.0,4906.5,1688.5,10588.0,2263.5
3,0: All Days (M-Su),0: All Day (12am-12am),1. All year,2.0,824.0,1503.5,4544.0,7712.5,34.5,109.5,66.0
4,0: All Days (M-Su),0: All Day (12am-12am),1. All year,3.0,1018.0,2153.5,1729.5,18.0,22162.0,59.5,2245.0
...,...,...,...,...,...,...,...,...,...,...,...
625,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,1.0,278.5,383.0,2098.0,47.0,19.0,74.5,44.0
626,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,2.0,23.0,13.0,26.0,43.0,1.0,5.0,6.0
627,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,3.0,42.0,33.5,18.5,0.0,90.0,0.0,25.0
628,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,4.0,30.5,50.0,68.0,2.0,3.0,60.0,6.0
629,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,5.0,44.5,72.0,36.5,1.0,29.0,6.0,56.5

In [10]:
dfTruckDataBySubareaID_Pivot_ODTripVolume = dfTruckDataBySubareaID.pivot_table(values="od_trip_volume_sum",index=['day_type', 'day_part', 'data_period', 'origin_subareaid'], columns="destination_subareaid",)
dfTruckDataBySubareaID_Pivot_ODTripVolume = dfTruckDataBySubareaID_Pivot_ODTripVolume.fillna(0)
dfTruckDataBySubareaID_Pivot_ODTripVolume = dfTruckDataBySubareaID_Pivot_ODTripVolume.reset_index()
dfTruckDataBySubareaID_Pivot_ODTripVolume

destination_subareaid,day_type,day_part,data_period,origin_subareaid,-1.0,0.0,1.0,2.0,3.0,4.0,5.0
0,0: All Days (M-Su),0: All Day (12am-12am),1. All year,-1.0,5370.357329,3907.576027,5020.382630,286.961795,1019.626849,481.905205,744.262397
1,0: All Days (M-Su),0: All Day (12am-12am),1. All year,0.0,3847.607918,20155.577959,4690.494411,160.164000,242.820247,215.967205,391.663767
2,0: All Days (M-Su),0: All Day (12am-12am),1. All year,1.0,4928.592493,4699.422329,87648.101794,624.044425,150.530096,1677.859274,259.421178
3,0: All Days (M-Su),0: All Day (12am-12am),1. All year,2.0,324.579534,174.587384,551.817945,1417.500082,1.810315,10.018027,4.560205
4,0: All Days (M-Su),0: All Day (12am-12am),1. All year,3.0,1088.964781,268.107575,152.500767,0.984658,5163.460479,3.603493,353.681589
...,...,...,...,...,...,...,...,...,...,...,...
625,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,1.0,698.045000,328.671667,2640.487222,33.828333,11.061111,80.385556,27.635000
626,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,2.0,26.563333,8.183333,17.432222,40.264444,0.900000,2.427778,3.398889
627,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,3.0,115.395556,21.393889,11.890000,0.000000,102.939444,0.000000,18.995556
628,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,4.0,61.113889,46.931111,53.676111,0.971111,1.456667,55.759444,3.884444
629,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug,5.0,136.652222,47.181111,26.545000,0.485556,21.938333,2.913333,66.192778

# Display Maps

In [11]:
 sdf_subareas = pd.DataFrame.spatial.from_featureclass(subareas_filename)
 sdf_subareas

,index,SUBAREAID,SHAPE,OBJECTID
0,0,0,"{""rings"": [[[[455558.00005950936, 4533876.0000...",0
1,1,1,"{""rings"": [[[410028.49999148864, 4403451.00002...",1
2,2,2,"{""rings"": [[[435003.0000956943, 4580925.999780...",2
3,3,3,"{""rings"": [[[331310.12055160664, 4111559.56018...",3
4,4,4,"{""rings"": [[[509221.73000000045, 4432090.92], ...",4
5,5,5,"{""rings"": [[[319873.91000000015, 4149458.0], [...",5

In [13]:
sdf_subareas.spatial

TypeError: '<=' not supported between instances of 'tuple' and 'float'

In [12]:
#create map1 with zoom set to Salt Lake (any city or place name can be used)
map_subareas = gis.map('Utah')

#add tract sdf
sdf_subareas.spatial.plot(map_widget = map_subareas,
                          renderer_type='u', # specify the unique value renderer using its notation 'u'
                          col='SUBAREAID'  # column to get unique values from
                         )

map_subareas.layout.height='600px'
map_subareas.legend = True

#add map title
display(Markdown('<h1><center>Subareas</center></h1>'))

#display the map
map_subareas

TypeError: '<=' not supported between instances of 'tuple' and 'float'